
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@900&family=Roboto:wght@500;700&family=Source+Serif+Pro:wght@900&display=swap');
*{
    /* border: 1px solid red; */
}
html,body{
    font-family:Roboto,Arial;
    margin:0;
    padding:0;
    width: 100%;
    height:100%;
}

#header{
    position:fixed;
    left: 0;
    top:0;
    bottom:0;
    /* background: #1A0B3C; */
    background: rgb(1,0,19);
    background: linear-gradient(90deg, rgba(1,0,19,1) 5%, rgba(26,11,60,1) 100%);
    overflow-y:auto;
    width:300px;
    transition: all ease-in-out 1s;
    padding:0 10px;
    z-index:9999;
}
#header .profile img{
    display:block;
    margin:10px auto;
    width: 200px;
    border-radius:50%;
    border:3px solid rgb(176, 154, 214);
    box-shadow:3px 2px 9px rgb(121, 130, 181);
}
#header .profile h2{
    color: rgba(255, 255, 255, 0.967);
    font-weight: 700;
    text-align:center;
    margin:0 0 15px 0;

}
#header .meus-links{
    height:56px;
}
#header .meus-links a{
    font-size:1.5rem;
    text-decoration:none;
    color: rgb(248, 255, 233);
    background: #1c0941;
    box-shadow:2px 2px 5px black;
    border-radius:0 55px 55px 55px;
    padding:0.5rem;
    /* margin:1rem; */
    margin-left:0.9rem;
    transition:0.2s;
}

#header .meus-links a:hover{
    background:#260d5f;
    /* font-size:1.5rem; */
}
.nav-menu i{
    margin-right:6px;
    color: rgb(28, 28, 127);
}
.nav-menu ul{
    list-style-type:none;
    margin-left:-30px;
}
.nav-menu li:hover i,.active i{
    color:rgb(49, 49, 236);
}
.nav-menu{
    padding:1rem;
}
.nav-menu a{
    display:flex;
    align-items:center;
    color: rgb(83, 92, 100);
    transition:0.3s;
    font-size:1.3rem;
}
.nav-menu a:hover,a.active{
    align-items:center;
    color: rgb(215, 223, 231);
    transition:0.3s;
}
/* parte principal/ main */
#main{
    margin-left:300px;
}
#inicio{
    background-image:url("./img/fundo3.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
    background-position:center;
    background-color:gray;
    width:100%;
    height:100vh;
}
section#inicio h2{
    font-size:4rem;
    color:rgb(25, 59, 87);
    font-family: 'Source Serif Pro', serif;
    word-spacing:-1px;
    background: rgba(209, 203, 221, 0.91);
    border-right:10px solid rgb(245, 242, 236);
    padding-right:10px;
    margin-bottom:0px;
}
section#inicio p{
    font-size:1.8rem;
    color:rgb(25, 59, 87);
    font-family: 'Source Serif Pro', serif;
    word-spacing:-1px;
    background: rgba(209, 203, 221, 0.90);
    border-right:10px solid rgb(245, 242, 236);
    padding:7px;
}
section#inicio div#arraste{
    /* border: 1px solid red; */
    width:20rem;
}
section#inicio div#arraste a{
    text-decoration:none;
    font-size:2rem;
    font-weight: 700;
    color: #da0808;
    background-color: rgba(186, 79, 79, 0.392);
    word-spacing:-1px;

}
.menu-sm{
 background: rgba(26,11,60,1);
 color: #f0f8ff;
 font-size:1.5rem;
 position: fixed;
 top:1rem;
 right:1rem;
 width:3rem;
 border-radius:20%;
 border:1px solid white;
 display:none;
 width:45px;
 height:40px;
 justify-content: center;
 align-items: center;
 cursor:pointer;
 z-index:10;
}
.menu-nav-active{
    overflow: hidden;
}
.menu-nav-active #header{
    transition:all ease-in-out 0.2s;
    left: 0;
}
@media(max-width:1024px){
    #header{
        left:-300px;
    }
    .menu-sm{
        display:flex;
    }
    section#inicio h2{
        font-size:2.5rem;
    }
    section#inicio p{
        font-size:1.3rem;
    }
    #main{
        margin-left:0px;
    }
    section#inicio div#arraste a{
        font-size:1rem;
    }
}
/* personalizar a barra em geral, aqui estou definindo 10px de largura para a barra vertical
e 10px de altura para a barra horizontal */
::-webkit-scrollbar {
    width:15px;
    height: 10px;
    }
     
    /* aqui é para personalizar o fundo da barra, neste caso estou colocando um fundo cinza escuro*/
    ::-webkit-scrollbar-track {
    background:#6f8386;
    }
     
    /* aqui é a alça da barra, que demonstra a altura que você está na página
    estou colocando uma cor azul clara nela*/
    ::-webkit-scrollbar-thumb {
    background: rgb(28, 28, 127);
    border-radius:20%;
    }

.section-bg{
    background: #c7dee1;
}




/* curriculo */
.cv .cv-titulo{
    margin-bottom:20px;
    margin-top:20px;
    font-weight: 700;
    background: #dfecee;
    border-right:60px solid rgb(22, 54, 88);
    color:#000000;
}
.cv .cv-item{
    padding: 0 0 20px 20px;
    margin-top:10px;
    border-left:2px solid rgb(22, 54, 88);
}
.cv .cv-item h5{
    background: rgba(141, 149, 158, 0.271);
    display:inline-block;
    padding:10px;
}
.cv .cv-item h4{
    font-family: 'Times New Roman', Times, serif;
    font-size:1.5rem;
    position: relative;

}
/* before adiciona um item a o elemento pai */
.cv .cv-item h4::before{
    content: "";
    position:absolute;
    width:16px;
    height: 16px;
    background: #260d5f;
    border:1px solid #000000;
    border-radius: 50%;
    top:0px;
    left:-30px;

}
