<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <!-- <link rel="stylesheet" type="image/png" href="../static/img/body"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <title> portifolio </title>
</head>

<body>
    <i class="bi bi-list menu-sm"></i>
    <!-- barra lateral contendo {foto de perfil e links para contato } -->
    <aside id="header">
        <section class="profile">
            <img src="../static/img/eu.jpg" alt="foto de perfil">
            <h2>Eduardo Alves</h2>
            <div class="meus-links mt-4 text-center">
                <a target="_blank" href="#">
                    <i class="bi bi-linkedin"></i>
                </a>

                <a target="_blank" href="#">
                    <i class="bi bi-github"></i>
                </a>
                <a target="_blank" href="#">
                    <i class="bi bi-instagram"></i>
                </a>
                <a target="_blank" href="#">
                    <i class="bi bi-whatsapp"></i>
                </a>
            </div>
        </section>
    <nav class="nav flex-column nav-menu">
        <a class="nav-link active" aria-current="page" href="#"><i class="bi bi-house-fill"></i> home</a>
        <li> <a class="nav-link" href="#"> <i class="bi bi-code-square"></i> PROJETOS</a></li> 
        <li> <a class="nav-link" href="#"> <i class="bi bi-person-circle"></i> SOBRE</a></li>
        <li> <a class="nav-link" href="#"> <i class="bi bi-graph-up"></i> HABILIDADES</a></li>
    </nav>
    </aside>
    <!-- fim da barra lateral de informações -->

    <!-- começo do main -->
    <main id="main">
        <!-- começo da primeira seçao -->
        <section class="row m-0 p-0" id="inicio">
            <div class="col-md-5 d-flex justify-content-center  flex-column">
                <h2>seja bem vindo</h2>
                <p>este é meu portifolio</p>
            </div>
            <div id="arraste" class="col-md-7 d-flex justify-content-end align-items-end flex-column">
             <div class="d-flex align-items-center">
                <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
                <a href="">arraste para mais</a>
             </div>
            </div>
        </section>
        <!-- fim da primeira seçao -->

    </main>
    <!-- fim do main -->


    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>

</html>